* {
/* outline: 1px solid red; */
box-sizing: border-box;
color: #252525;
}
body {
    background-color: rgb(238, 225, 201);
}

p, li {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.article {
width: clamp(200px, 75%, 1000px);
margin: auto;
padding: 20px;
background-color: white;
}

.recipe-title {
    font-family: Garamond, Georgia, sans-serif;
    font-size: 36px;
    width: clamp(100px,80%,1000px);
    margin: 0 auto;
    text-align: center;
}

.recipe-image-container {
    margin: 0 auto;
    text-align: center;
    width: clamp(100px,80%,1000px)
}

.recipe-image {
    width: 100%;
    margin: 0 auto;

}
.user-feedback-container {
    width: clamp(100px,80%,1000px);
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
}
.feedback-buttons-container {
    display: flex;
    
}

.description-container {
    width: clamp(100px,80%,1000px);
margin: 0 auto;
}
.heading-two {
    font-family: Georgia, serif !important;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 1.5px;
}

ul li {
    /* font-family: Helvetica, Verdana, sans-serif; */
    font-size: 17px;
    color: rgb(26, 25, 25);
    font-family: "Trebuchet MS", sans-serif;
    margin: auto;
    padding: 5px;

}


.prep-guide {
    width: clamp(100px,100%,600px);
    margin: 0 auto;
    background-color: #e7e7e7;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}
.prep-guide > *{
   text-align: center;
}

.ingredients-container {
    width: clamp(100px,80%,1000px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.sub-ingredients {
    background-color: #e7e7e7;
    
}
